@using xpos341.viewmodels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category Try";
    int idx = 1;
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ViewData["Title"]</h5>

        <button type="button" class="btn btn-primary my-2" id="btn_create">Create</button>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Name Category </th>
                    <th scope="col"> Description </th>
                    <th scope="col"> Action </th>
                </tr>
            </thead>
            <tbody>
                @foreach (VMTblCategory item in Model)
                {
                    <tr>
                        <td scope="row" class="text-center">@idx</td>
                        <td scope="row">@item.NameCategory</td>
                        <td scope="row">@item.Description</td>
                        <td scope="row" class="btn-group w-100 px-5" >

                            <a class="btn btn-light btn_edit" data-id="@item.Id">Edit</a>
                            <a class="btn btn-info btn_detail" data-id="@item.Id">Detail</a>
                            <a class="btn btn-warning btn_delete" data-id="@item.Id">Delete</a>

                        </td>
                    </tr>
                     idx++;
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#btn_create').click(function () {
        $('#modal_body').empty()
        $('#modal_body').load('/CategoryTry/Create')
        $('#my_modal').modal('show')
    })

    $('.btn_edit').click(function(){
        var id = $(this).data('id');

        $('#modal_body').empty()
        $('#modal_body').load('/CategoryTry/Edit?id=' + id)
        $('#my_modal').modal('show')

    })

    $('.btn_detail').click(function () {

        var id = $(this).data('id')

            $('#modal_body').empty()
            $('#modal_body').load('/CategoryTry/Detail?id=' + id)
            $('#my_modal').modal('show')
    })

    $('.btn_delete').click(function () {

        var id = $(this).data('id')

        // alert(id)
        $('#modal_body').empty()
        $('#modal_body').load('/CategoryTry/Delete?id=' + id)
        $('#my_modal').modal('show')
    })


</script>