@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Friends List";
}

<a class="btn btn-primary" style="margin-left:90%; padding:5px 10px" asp-controller="Friends" asp-action="Create">Add Friend</a>

<h2 class="center">Frinds Table</h2>
<table class="table table-Light table-striped table-bordered table-hover w-100">
    <thead>
        <tr class="w-auto">
            <th scope="col w-auto">Id</th>
            <th scope="col w-auto">Name</th>
            <th scope="col w-auto">Address</th>
            <th scope="col w-auto text-center ">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Friend item in ViewBag.ListFriends)
        //@foreach (Friend item in Model)
        {
            <tr >
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td class="action" style="justify-content:end">
                    <a class="btn btn-primary action_btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-success action_btn" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    <a class="btn btn-danger action_btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>